.page {
    background-color: black;
}

div {
    height: 300px;
    width: 300px;
    background-color: rgb(0, 255, 0);

}

p {
    height: 75%;
    width: 75%;
    background-color: gray;
}


.img {

    align-content: right;
}

.header {
    
    border-bottom: 2px solid red;
    color: red;


}

.price, .description {
    text-align: left;
    padding: 5px;
    margin: 0px;
    vertical-align: text-top;
}

.description {
    min-width: 450px;
    max-width: 650px;
}

.price{
    min-width: 150px;
    max-width: 250px;
}


