<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="3.css">

</head>
<body>
    <h1>the invetion of the bicycle</h1>
    <p>While Chapala encountered less approving conditions after leaving Socotra, it maintained much of its intensity; upon entering the Gulf of Aden on 2 November, it became the strongest known cyclone in that body of water. Chapala brushed the northern coast of Somalia, killing tens of thousands of animals and wrecking 350 houses. Ahead of the cyclone's final landfall, widespread evacuations occurred across southeastern Yemen, including in areas controlled by al-Qaeda, amid the country's ongoing civil war.</p>
    <p class="clear">While Chapala encountered less approving conditions after leaving Socotra, it maintained much of its intensity; upon entering the Gulf of Aden on 2 November, it became the strongest known cyclone in that body of water. Chapala brushed the northern coast of Somalia, killing tens of thousands of animals and wrecking 350 houses. Ahead of the cyclone's final landfall, widespread evacuations occurred across southeastern Yemen, including in areas controlled by al-Qaeda, amid the country's ongoing civil war.</p>
</body>
</html>